<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite de Testes">
    <listeners>
        <listener class-name="com.jacksonteixeira.ExtentReportListener" />
    </listeners>
    <test name="Testes">
        <classes>
            <class name="com.jacksonteixeira.tests.MercadoTest" />
        </classes>
    </test>
</suite>
